*/__pycache__/*
*/simulation_data_*
ConvexHull/__pycache__/*
*/tempCodeRunnerFile.py
ConvexHull/convexhull_analysis_*
*/simulation_analysis_*

MinkowskiAddition/__pycache__/convexhull.cpython-312.pyc
